// -----------------------------------------------
//
// Styling for Header
//
// -----------------------------------------------

nav {
	.logoContainer {
		display: flex;
		flex-grow: 1;
		margin-top: 10px;
	}

	.timeContainer {
		p {
			margin-top: 21px;
		}
	}
}

.MuiAppBar-colorPrimary {
	background-color: var(--darkBlue) !important;
}
